

.cart__header--info {
  width: 40%;
  text-align: center;
  font-size: 100%;
}
.cart__header--actions {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 100%;
  margin: 0 0.5rem;
}



.card__cart {
  padding: 0.5rem;
  background-color: #FFCCCC;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card__cart--info {
  display: flex;
  width: 40%;
  flex-direction: column;
  border: solid 0.5px white;
  border-radius: 10px;
  justify-content: space-around;
  
}

.card__cart .card_product--title_principal {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-indent: 1rem;
}

.card__cart .card_product--title_principal .card__cart--title {
  font-size: 100%;
  text-align: center;
}

.card__cart .card_product--title_principal .card__cart--desc {
  font-weight: 100%;
  text-align: center;
  padding: 0rem 0rem 0.25rem 0rem;
}

.card__cart--img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.card__cart--img img {
  height: auto;
  width: 100%;
  border-radius: 6px;
  margin: 0.5rem;
}

.card__cart--actions {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  flex-direction: column;
}

.card__cart--actions .price {
  color: #012e67;
  font-size: 100%;
  text-align: center;
  width: 20%;
}


.card__cart--btn_finish {
  color: white;
  padding: 0.5rem 1rem;
  background-color: #FF9999;
  border: solid 1px #FF9999;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}

.btn_remove {
  height: fit-content;
  margin: 0 auto;
  align-items: center;
  color:red;
  
}



.cart__footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem ;
  color: #012e67;
}
